/* START CONTACT */

.tm-contact {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 40px;
  border-bottom: 3px solid;
  border-image: -webkit-linear-gradient(left, #1e242c 1%, #00adb5 50%, #1e242c 100%) 0 0 100% 0/0 0 3px 0 stretch;
}

.contact-buttons {
  word-spacing: 5px;
  transition: all 0.5s;
  min-width: 100%;
  user-select: none;
}

.contact-message {
  font-size: 10px;
  transition: all 0.5s;
}

textarea {
  min-width: 100%;
}

#section-contact {
  min-height: 100%;
  min-width: 100%;
  background: #1e242c;
  background: #393e46;
  border-bottom: 3px solid;
  border-image: -webkit-linear-gradient(left, #1e242c 1%, #00adb5 50%, #1e242c 100%) 0 0 100% 0/0 0 3px 0 stretch;
}

#social {
  /* height: 50vh; */
  /* margin-top: 5%; */
  margin-bottom: 5% !important;
}

.contact-message {
  float: left;
  text-align: center;
  color: #00adb5;
  font-weight: 600;
  margin: 4px 4px 4px 4px;
  font-family: Brush Script MT, cursive;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  transition: all 0.5s;
  margin-top: 2em;
}

input[type="text"], input[type="email"], textarea {
  background: #f7f7f9;
  border: 0.6px solid #04c2c9;
  box-sizing: border-box;
  /* color: #fff !important; */
  display: block;
  font-size: 1em;
  margin-bottom: 8px;
  outline: none;
  padding: 10px 15px;
  min-width: 100%;
  max-width: 100%;
}

#submit-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-button {
  position: relative;
  font-family: "Raleway";
  padding: 5px 5px;
  margin-top: 20px;
  min-width: 25%;
  border-color: none;
  border: none;
  outline: 0;
  background: #f7f7f9;
  color: #00adb5;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border: #04c2c9 1px solid;
  background-size: 250% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  /* best green #2EE59D */
}

.submit-button:hover, .submit-button:active {
  /* background-color: #2EE59D; */
  box-shadow: 0px 15px 20px rgb(0, 173, 181, 0.4);
  color: black;
  /* background-position: left bottom; */
  background: #00adb5;
}

.contact-heading {
  font-size: 2.5em;
  color: black;
}

.contact-heading::after {
  width: 80px;
  color: #00adb5;
  background: #00adb5;
  content: "-";
  background: transparent;
  color: transparent;
  background: #00adb5;
  margin: auto;
  display: flex;
  justify-content: center;
  width: 4.5em;
  height: 3px;
  animation: 1s ease-out slideleft;
}

@keyframes slideleft {
  0% {
    transform: translateX(-100%);
    left: 0%;
  }
  100% {
    transform: translateX(0%);
  }
}

.fa-linkedin-square {
  color: #0e76a8;
  transition: ease-in 0.3s;
}

.fa-github-square {
  color: #24292e;
  transition: ease-in 0.3s;
}

.fa-codepen {
  color: white;
  color: black;
  transition: ease-in 0.3s;
}

.fa-facebook-square {
  color: #4267B2;
  transition: ease-in 0.3s;
}

.fa-whatsapp-square {
  color: #25d366;
  transition: ease-in 0.3s;
}

.fa-linkedin-square:hover, .fa-github-square:hover, .fa-codepen:hover, .fa-facebook-square:hover, .fa-whatsapp-square:hover {
  transform: scale(1.1);
  box-shadow: 0px 25px 30px 0px;
}

/* .btn-instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  border-radius: 10px;
  color: white;
  border-width: 1px;
  border-style: solid;
  border-color: #084461;
} */

@media (min-width: 0px) and (max-width: 419px) {
  .contact-buttons {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
}

@media only screen and (min-device-width: 600px) and (max-device-width: 924px) {
  .submit-button {
    min-width: 20vw;
  }
}

@media only screen and (min-device-width: 0px) and (max-device-width: 599px) {
  .submit-button {
    min-width: 25vw;
  }
}

@media only screen and (min-device-width: 0px) and (max-device-width: 599px) {
  #social {
    min-width: 90%;
  }
}

@media only screen and (min-device-width: 600px) and (max-device-width: 924px) {
  #social {
    min-width: 70%;
  }
}

/* END CONTACT */