
/* START NAVIGATION */
.sticky-navigation {
    opacity: 0;
  }
  
  .navbar-default {
    background: #fff;
    border: none;
    -webkit-box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
    box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
    margin: 0;
    padding: 0;
  }
  
  .navbar-default .navbar-nav li a {
    color: #202020;
    font-size: 1em;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: 1px;
    text-align: center;
  }
  
  .navbar-default .navbar-nav li a:hover {
    color: #E31B6D;
  }
  
  .navbar-default .navbar-nav>li>a:hover,
  .navbar-default .navbar-nav>li>a:focus {
    color: #E31B6D;
    background-color: transparent;
  }
  
  .navbar-default .navbar-nav>.active>a,
  .navbar-default .navbar-nav>.active>a:hover,
  .navbar-default .navbar-nav>.active>a:focus {
    color: #E31B6D;
    background-color: transparent;
  }
  
  .navbar-default .navbar-toggle {
    border: none;
    padding-top: 10px;
  }
  
  .navbar-default .navbar-toggle .icon-bar {
    background: #E31B6D;
    border-color: transparent;
  }
  
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: transparent
  }
  
  /* END NAVIGATION */