html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  background: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #606060;
  position: relative;
}


h1,
h2,
h3 {
  font-weight: 300;
}

p {
  line-height: 28px;
}

hr {
  border-color: #f2f2f2;
  width: 100px;
  margin-bottom: 40px;
}

.title {

  color: #303030;
  font-size: 60px;
  padding-bottom: 40px;
  text-transform: uppercase;
}